{% use '@Contao/component/_figure.html.twig' %}

{% block content %}
<div class="body">
    <div class="container">
        {% if figure %}
            {% with {figure} %}{{ block('figure_component') }}{% endwith %}
        {% endif %}

        <h5>{{ firstName }} {{ name }}</h5>
        <h6>{{ position }}</h6>

        <div class="info">
            {% for contact_info in contactInfos %}
                <div class="info_entry person {{ contact_info.type }}">
                    <span class="label">{{ contact_info.label }}</span>
                    <span class="value">{{ contact_info.value }}</span>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
